body {
  background-color: rgba(49, 48, 48, 0);
}

.allBooks {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tables {
  border: 3px solid black;
  width: 90%;
}

table tr:nth-child(odd) {
  background-color: rgba(49, 48, 48, 0.247);
}

td {
  text-align: center;
  padding: 1rem;
  /* width: 70%; */
}

.td-btn {
  width: 100%;
}

.remove-button {
  padding-left: 46rem;
}

.addNew {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.allBooks {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input[type='text'] {
  border: 2px solid black;
  height: 2rem;
  width: 25rem;
}

.button {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px black, 0.1em 0 0.1em black;
}

#btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.contact{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}

footer{
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  bottom: 1rem;
  width: 90%;
}

.page{
    display: none;
    min-width: 100%;
    min-height: 100%; /* allow for content off the bottom of the page */
     position: absolute;  /*or absolute if the user needs to scroll for more content */
}
.active{
    display: block; 
}

.nav{
  border: 2px solid black;
  width: 90%;
  right: 4%;
  position: absolute;
  text-decoration: none;
  display: flex;
  list-style: none;
  padding: 1rem;
  gap: 1rem;
}

.nav li a{
  text-decoration: none;
  color: black;
  
}

.tags{
border-right: 2px solid black;
padding-right: 0.5rem;

}

.nav-title {
  padding-right: 54rem;
}
